[submodule "/Users/tony/Library/CloudStorage/ProtonDrive-TNguye98@pm.me-folder/Github/blog-private/winwin-blog/public"]
	path = /Users/tony/Library/CloudStorage/ProtonDrive-TNguye98@pm.me-folder/Github/blog-private/winwin-blog/public
	url = https://github.com/Tnguye98/blog-public.git
	branch = main
